altgraph==0.17
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.14.5
easygui==0.98.2
Eel==0.12.4
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
importlib-metadata==4.4.0
pdf2image==1.15.1
pefile==2019.4.18
Pillow==8.2.0
pycparser==2.20
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
PyPDF2==1.26.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pytesseract==0.3.7
pywin32-ctypes==0.2.0
typing-extensions==3.10.0.0
whichcraft==0.6.1
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.2.0
